<div class="rounded-lg bg-red-600 shadow-lg p-4">
  <div class="m-1 bg-white rounded-lg border-2 w-[40rem]">
    <div class="flex border-black border-b-4 p-4">
      <div class="w-96">
        <%= image_tag @pokemon.main_sprite, class: 'w-96' %>
        <div class="text-center">No.<%= @pokemon.id.to_s.rjust(3, '0') %></div>
      </div>
      <div class="text-2xl mt-8 space-y-16">
        <div><%= @pokemon.name.upcase %></div>
        <div><%= @pokemon.genus.match(/(?<type>[a-zA-Z]+) Pokémon/)[:type] %></div>
        <div>HT  2'00"</div>
        <div>WT  19.0lb</div>
      </div>
    </div>
    <div data-controller="paginator" data-paginator-page-value="0" data-paginator-num-pages-value="<%= @pokemon.flavor_text.split(/\f/).length %>">
      <% @pokemon.flavor_text.split(/\f/).each_with_index do |paragraph, index| %>
        <div data-paginator-target="page" id="<%= index %>" class="text-2xl mt-8 px-4 space-y-10 <%= 'hidden' if index > 0 %>">
          <% paragraph.split(/\n/).each do |line| %>
            <div><%= line %></div>
          <% end %>
        </div>
      <% end %>
      <div class="p-4 flex justify-between">
        <%= link_to 'Return to Home', root_path %>
        <button data-action="click->paginator#prev" class="hidden" data-paginator-target="prev">Prev</button>
        <button data-action="click->paginator#next" data-paginator-target="next">Next</button>
      </div>
    </div>
  </div>
</div>
